*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:  Arial sans-serif ;
    line-height: 1.6;
    height:100vh;
    background-color: #F3F2F0;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;

}
.logo h1{
color:rgb(107, 213, 245);
font-size: 30px;
padding:20px;
font-weight: 600;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 60px;
    gap:20px;
}
nav a{
    text-decoration: none;
    color:aqua;
    font-size: 20px;
}
nav a:hover{
    color:white;

}
   
.AboutSection{
    margin-top: 40px;
    padding:20px 40px;  
}
.AboutSection h2{
    font-size: 35px;
    text-align: justify;
    color:rgb(53, 150, 155);
    font-weight: 500;
}
.AboutSection P{
    font-size: 20px; 
}

.LandmarkSection{
    margin-top: 30px;
    padding:20px 40px;
}

.LandmarkSection h2{
    font-size: 35px;
    
    color:rgb(53, 145, 150);
    font-weight: 500;
}

.LandmarkSection ul li{
    font-size: 20px;
    padding: 5px;
}

.images-landmarks{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:10px 30px;
    overflow: hidden;

}
.images-landmarks img{
    width:30%;
    height:300px;
    border-radius: 6px;
  
 
    }

.images-landmarks img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
       
      
    }

.VisitSection{
    margin-top: 20px;
    padding:20px 40px;
}
.VisitSection h2{
    font-size: 35px;
    color:rgb(49, 133, 138);
    font-weight: 500;
}

.VisitSection p{
    font-size: 20px; 
}

footer{
    background-color: black;
    color:aqua;
}

footer p{
    font-size: 18px ;
    text-align: center;
    padding:10px 30px;
    word-spacing: 2px;

}

/* media query */
@media (max-width:768px){
    .AboutSection,.LandmarkSection,.images-landmarks,.VisitSection{
        width: 90%;
        padding: 30px;
        margin:auto;
    }
    .images-landmarks img{
        width:100%;
        
        padding:20px;

    }
    .AboutSection,.LandmarkSection,.images-landmarks,.VisitSection p{
        font-size: 22px;
    }
}
